
<html style="overflow-x: hidden;">
    <head>
        <title><%= title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body ondragstart="return false;" ondrop="return false;" style="margin: 0">
        <section id="importContent"></section>
    </body>

    <style>
        body::-webkit-scrollbar {
            width: 0.5em;
            background-color: rgba(0,0,0,0)
        }

        body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        body::-webkit-scrollbar-thumb {
    	    background-color: #787878;
            outline: 1px solid #c1c1c1;
        }
    </style>
</html>
